<div class="row col-lg-12">
  <div class="card mt5 mb-5 ">
    <div class="card-body">
      <h1 class="text-center">Todo app,create your schedule here</h1>
    </div>
    <%= flash[:notice] %>
  </div>
  <h4> <%= link_to "login", login_path %> </h4>
  <h4> <%= link_to "signup here", signup_path %> </h4>
  <h4> <%= link_to "show", show_path %> </h4>
  <h4> <%= link_to 'Logout', logout_path, method: :delete %> </h4>
</div>